.zodio {
    font-size: 800%;
    margin-top: 10;
    text-transform: uppercase;
    text-align: center;
  }

.tagline{
   font-family: 'Chicle', cursive;
   text-align: center;
  }
  
a{
  color: #EDEBEE!important;
  text-decoration: none!important;
}
  